<!--sidebar-->
<br><br><br>

<div class="col-md-3">
    <div class="dash-left">
        <ul >
            <li class="active ">
                <a href="/admin/dashboard" class="text-decoration-none">Dashboard</a>
            </li>
            <li class="active">
                <a href="/admin/blogdisplay" class="text-decoration-none">Display Blog</a>
            </li>
            <li class="active">
                <a href="/admin/category" class="text-decoration-none">Categories</a>
            </li>
            <li class="active">
                <a href="/admin/contact" class="text-decoration-none">Contact</a>
            </li>
            <li class="active">
                <a href="/admin/about" class="text-decoration-none">About</a>
            </li>
            <li class="active">
                <a href="/admin/logout" class="text-decoration-none">Logout</a>
            </li>
        </ul>
    </div>
</div>