<!--footer start-->

<footer class="text-center text-lg-start bg-light text-muted mt-5" style="background:#ae9461">
    <!-- Section: Social media -->
    <section class=" justify-content-center justify-content-lg-between p-4 border-bottom " style="background:#ae9461">
        <!-- Left -->
        <div class="text-center">

            <h1 class="text-center text-white pt-5 mb-0">Thank you for reading!</h1>
            <p class="text-center text-white mt-2">if you enjoyed this post, please feel free to share it.</p>
        </div>
        <!-- Left -->

    </section>

    <section class="" style="background:#ae9461">
        <div class="container text-center text-md-start  ">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mt-3">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Blogs About
                    </h6>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis dignissimos quaerat amet
                        ipsum enim laborum molestiae. Consequuntur odio cumque deleniti perferendis, in atque nisi
                        vel, enim fuga iure impedit! Vel?
                    </p>
                </div>


                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Social links
                    </h6>
                    <div>
                        <a href="" class="me-4 text-reset">
                            <i class="fa-brands fa-square-facebook" style="color: blue; font-size: xx-large;"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fa-brands fa-instagram" style="color: rgb(255, 0, 204); font-size: xx-large;"></i>
                        </a>

                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-linkedin" style="color: rgb(72, 144, 244); font-size: xx-large;"></i>
                        </a>

                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mt-3">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                    <p><i class="fas fa-home me-3"></i> India, Uttar Pradesh, Banda 210201</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        dixitabhay633@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> 8840432011</p>
                    <p><i class="fas fa-print me-3"></i> 9580954255</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="container-fluid text-center" style="background-color:#d2be95 ;">
        <div class="copyright">
            <h6 class="text-white py-4 mb-0">
                Copyright © Designed by:
                <a href="https://www.linkedin.com/in/abhay-dixit-24039125a"
                    style="color:#ff9307; text-decoration: none;">Abhay Dixit</a>
                All right reserved.
            </h6>
        </div>
    </div><!--container fluid end-->

    <!-- Copyright -->
</footer>
<!-- Footer -->









</body>

</html>