<!--footer start-->
<div class="container-fluid pb-5 ps-0 pe-0" style="background:#001f50;">
    <h1 class="text-center text-white pt-5 mb-0">Thank you for reading!</h1>
    <p class="text-center text-white mt-2">if you enjoyed this post, please feel free to share it.</p>
    <div class="container pb-4">
        <div class="row text-center ms-5 me-5">
            <div class="col-md-12 d-flex">
                <div class="col-md-6 text-white">
                    <h1>About</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti sint laborum nemo quo debitis
                        minus dignissimos cupiditate quod quis veritatis! Ut beatae consectetur repudiandae fugit magnam
                        quaerat cum dolores! Maiores.</p>
                </div>
                <div class="col-md-6 text-white">
                    <h1>Social Media Links</h1>
                    <div class="mt-3">
                        <a href="" class="me-4 text-reset ">
                            <i class="fa-brands fa-square-facebook" style="color: whitesmoke; font-size: xx-large;"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fa-brands fa-instagram" style="color: rgb(255, 0, 204); font-size: xx-large;"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fa-brands fa-google" style="color: red; font-size: xx-large;"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-linkedin" style="color: rgb(72, 144, 244); font-size: xx-large;"></i>
                        </a>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div><!--container fluid end-->
<div class="container-fluid text-center" style="background-color:#013f57eb ;">
    <div class="copyright">
        <h6 class="text-white py-4 mb-0">
            Copyright © Designed by:
            <a href="https://www.linkedin.com/in/abhay-dixit-24039125a"
                style="color:#ff9307; text-decoration: none;">Abhay Dixit</a>
            All right reserved.
        </h6>
    </div>
</div><!--container fluid end-->
</body>

</html>