<%- include('../../header.ejs') %>

    <br><br><br>


    <section class="dashboard-wrap mtb-40">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dash-left">
                            <ul>

                                <li class="active bg-dark">
                                    <a href="/admin/dashboard" class="text-decoration-none text-white">Dashboard</a>
                                </li>
                                <li class="active bg-dark">
                                    <a href="/admin/blogdisplay" class="text-decoration-none text-white">Display
                                        Blog</a>
                                </li>
                                <li class="active bg-dark">
                                    <a href="/admin/category" class="text-decoration-none text-white">Categories</a>
                                </li>
                                <li class="active bg-dark">
                                    <a href="/admin/contact" class="text-decoration-none text-white">Contact</a>
                                </li>
                                <li class="active bg-dark">
                                    <a href="/admin/User" class="text-decoration-none text-white">User</a>
                                </li>
                                <li class="active bg-dark">
                                    <a href="/admin/about" class="text-decoration-none text-white">About</a>
                                </li>
                                <li class="active bg-dark">
                                    <a href="/logout" class="text-decoration-none text-white">Logout</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="dash-right">
                            <div class="dash-header">
                                <div class="dash-title">
                                    <h1 style="color: #386576;">Contact</h1>
                                </div>
                                <div class="dash-nav">
                                    <a class="btn btn-success" style="background-color: #ffa500; border: none;">Add
                                        Contact</a>
                                </div>
                            </div>
                            <table class="table-bordered table-striped">
                                <tbody>
                                    <tr class=" table_heading text-white text-center">
                                        <th>ID No.</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone No</th>
                                        <th>Message</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            6364b1e28e3bf65dc86ec706
                                        </td>
                                        <td>
                                            Rudra
                                        </td>
                                        <td>
                                            srtfju@gmail.com
                                        </td>
                                        <td>
                                            7865234510
                                        </td>
                                        <td>
                                            uirfb wiuo9uf ourh oifpe onrn otiggn optigjg lofjnrf
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6364b1e28e3bf65dc86ec706
                                        </td>
                                        <td>
                                            ram singh
                                        </td>
                                        <td>
                                            ramhsgd@gmail.com
                                        </td>
                                        <td>
                                            7835954230
                                        </td>
                                        <td>
                                            khciueydchieu ekjye deiue jkwyi wli
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6364b1e28e3bf6576tb7c706
                                        </td>
                                        <td>
                                            rohan
                                        </td>
                                        <td>
                                            rohansgd@gmail.com
                                        </td>
                                        <td>
                                            87335984985
                                        </td>
                                        <td>
                                            khciu jkhieh iuehi3 wudhg jkwyi wli
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            jhehude3bf65dc86ec706
                                        </td>
                                        <td>
                                            bhavana singh
                                        </td>
                                        <td>
                                            bhavhdfd@gmail.com
                                        </td>
                                        <td>
                                            7838664230
                                        </td>
                                        <td>
                                            khci wugdi diuyb hieu ekjye deiue jkwyi wli
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6364gygbf65dc86ec706
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            rhfuysgd@gmail.com
                                        </td>
                                        <td>
                                            78656554230
                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6364b1e28jwhd5dc86ec706
                                        </td>
                                        <td>
                                            singh
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            7655654230
                                        </td>
                                        <td>
                                            khciieu ekjye deiue jkwyi wli
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            wjse3bf65dc86ec706
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6364b1e28gsygwc86ec706
                                        </td>
                                        <td>
                                            gdhdjh
                                        </td>
                                        <td>
                                            djhgd@gmail.com
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            khciu eugduw ieu ekjye deiue jkwyi wli
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6364b1hwf65dc86ec706
                                        </td>
                                        <td>
                                            suhw
                                        </td>
                                        <td>
                                            wkjhwd@gmail.com
                                        </td>
                                        <td>
                                            6598954230
                                        </td>
                                        <td>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div><!--row end-->
            </div>
        </div><!--container end-->
    </section>



    <%- include('../../footer.ejs') %>